extends layout 
block content
  .container-fluid.pdng0
    .row.merged
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .land-featurearea
          .land-meta
            h1 Winku
            p
              | Winku is free to use for as long as you want with two active projects.
            .friend-logo
              span
                img(src='images/wink.png' alt='')
            a.folow-me(href='#' title='') Follow Us on
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .login-reg-bg
          .log-reg-area.sign
            h2.log-title Login
            p
              | Don&rsquo;t use Winku Yet? 
              a(href='#' title='') Take the tour
              |  or 
              a(href='#' title='') Join now
            if(err)
                p.error=err
            if(success)
                p.success=success  
            form(action="/auth/login" method="POST")
              .form-group
                input#input(name="username" type='text' required='required')
                label.control-label(for='input') Username
                i.mtrl-select
              .form-group
                input(type='password' required='required')
                label.control-label(name="password" for='input') Password
                i.mtrl-select
              .checkbox
                label
                  input(type='checkbox' checked='checked')
                  i.check-box
                  | Always Remember Me.
              a.forgot-pwd(href='#' title='') Forgot Password?
              .submit-btns
                button.mtr-btn.signin(type='submit' value='Submit')
                  span Login
                button.mtr-btn.signup(type='button')
                  span Register
          .log-reg-area.reg
            h2.log-title Register
            p
              | Don&rsquo;t use Winku Yet? 
              a(href='#' title='') Take the tour
              |  or 
              a(href='#' title='') Join now
               if(err)
                p.error=err
            if(success)
                p.success=success
            form(action="/auth/register"  method="POST")
              .form-group
                input(name='fullName' type='text' required='required')
                label.control-label(for='input') First &amp; Last Name
                i.mtrl-select
              .form-group
                input(name='username' type='text' required='required')
                label.control-label(for='input') User Name
                i.mtrl-select
              .form-group
                input(name='password' type='password' required='required')
                label.control-label(for='input') Password
                i.mtrl-select
              .form-radio
                .radio
                  label
                    input(type='radio' name='gender' value='M' checked='checked')
                    i.check-box
                    | Male
                .radio
                  label
                    input(type='radio' name='gender' value='F')
                    i.check-box
                    | Female
              .form-group
                input(name='email' type='text' required='required')
                label.control-label(for='input')
                  a.__cf_email__(href='https://wpkixx.com/cdn-cgi/l/email-protection' data-cfemail='6c29010d05002c') [email&nbsp;protected]
                i.mtrl-select
              .checkbox
                label
                  input(type='checkbox' checked='checked')
                  i.check-box
                  | Accept Terms &amp; Conditions ?
              a.already-have(href='#' title='') Already have an account
              .submit-btns
                button.mtr-btn.signup(type='button' value='Submit')
                  span Register
