doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content='')
  meta(name='keywords' content='')
  title Winku Social Network Toolkit
  link(rel='icon' href='images/fav.png' type='image/png' sizes='16x16')
  link(rel='stylesheet' href='css/main.min.css')
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/color.css')
  link(rel='stylesheet' href='css/responsive.css')
// <div class="se-pre-con"></div>
.theme-layout
    block content
// side panel
//script(data-cfasync='false' src='../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')
script(src='js/main.min.js')
script(src='js/script.js')
script(src='js/map-init.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI')